<!DOCTYPE html>
<html lang="zh-Hant">
<head>
<meta charset="utf-8">
<title>Install Certificate</title>
</head>
<body>
	<h2>第一次使用請先安裝憑證 / First-time user: Please install the certificate
		first</h2>

	<p>
		0) 下載憑證/Download Certificate： <a
			href="./files/DTRICloud-service-client.crt" download>下載
			DTRICloud-service-client.crt</a>
	</p>

	<p>1) 依下圖步驟安裝 / Follow the steps below to install (Windows /
		Chrome):</p>
	<img src="./img/step1_AC.png" style="max-width: 100%; height: auto;"
		alt="install guide">
	<p>2) 依下圖步驟安裝（Windows / Chrome）：開啟下載的憑證安裝 / Open the downloaded
		certificate file to start installation.</p>
	<img src="./img/step2_AC.png" style="max-width: 100%; height: auto;"
		alt="install guide">
	<p>3) 依下圖步驟安裝（Windows / Chrome）：安裝憑證 / Click "Install Certificate"</p>
	<img src="./img/step3_AC.png" style="max-width: 100%; height: auto;"
		alt="install guide">
	<p>4) 依下圖步驟安裝（Windows / Chrome）：存放位置 請選擇"本機" / Select "Local
		Machine" for the Store Location.</p>
	<img src="./img/step4_AC.png" style="max-width: 100%; height: auto;"
		alt="install guide">
	<p>5) 依下圖步驟安裝（Windows / Chrome）：憑證存放區 "瀏覽" / Certificate Store -
		Click "Browse"</p>
	<img src="./img/step5_AC.png" style="max-width: 100%; height: auto;"
		alt="install guide">
	<p>6) 依下圖步驟安裝（Windows / Chrome）：選擇 受信任的跟憑證授權單位 然後下一步 / Select
		"Trusted Root Certification Authorities" and click "Next"</p>
	<img src="./img/step6_AC.png" style="max-width: 100%; height: auto;"
		alt="install guide">
	<p>7) 依下圖步驟安裝（Windows / Chrome）：完成憑證安裝 / Complete the certificate
		installation wizard</p>
	<img src="./img/step7_AC.png" style="max-width: 100%; height: auto;"
		alt="install guide">
	<p>8) 依下圖步驟安裝（Windows / Chrome）：Ctrl+Alt+Delete 開啟工作管理員 然後結束瀏覽器App
		/ Press Ctrl+Alt+Delete to open Task Manager, then end the browser
		process (task)</p>
	<img src="./img/step8_AC.png" style="max-width: 100%; height: auto;"
		alt="install guide">
	<p>9) 安裝完成後，重新開啟瀏覽器再登入。/ After installation is complete, restart
		your browser and log in again.</p>
	<img src="./img/step9_AC.png" style="max-width: 100%; height: auto;"
		alt="install guide">
</body>
</html>